<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @reply.title %>
</p>

<p>
  <b>Content:</b>
  <%= @reply.content %>
</p>

<p>
  <b>Topic:</b>
  <%= @reply.topic_id %>
</p>

<p>
  <b>User:</b>
  <%= @reply.user_id %>
</p>


<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
