<%= form_for(@topic, @forum.topics.new, :url => forum_topics_path(:forum_id => @forum)) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset style="width:500px">
    <legend>New Topic</legend>
    <div>
      <label for="title">Title:</label>
      <%= f.text_field :title %>
    </div>

    <div>
      <label for="content">Content:</label>
      <%= f.text_area :content, :size => "50x12"  %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
